/* for desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/* navbar start */
.nav-logo{
    text-align: left;
}

.nav-heading h1{
    text-align: right;
}

.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
    
}
/* navbar end */

/* profile design start */

.profile .top-weather-icon{
   
    right: 150px;
    top: 20px;
    transition: width 2s transform 2s;
}

.profile .top-weather-icon:hover{
 width: 140px;
}

.profile-disc p{
    color: rgb(195, 192, 195);
    margin: 0 auto;
    text-align: center;
    width:50% ;
    
    
}


.profile .bottom-wether-icon{
  
    left: 150px;
    bottom: 20px;
    transition: 2s;
}

.profile .bottom-wether-icon:hover{
    width: 140px;
}


.profile::after{
    content: '';
    display: table;
    clear: both;
}

/* profile end */


/* about start */
.about-img img{
margin-top: 100px;
height: 250px;
width: 250px;
}


.about-desc p{
    text-align: left;
}


/* about end */


/* achievement-contact start */

.achievement{
    padding-right: 50px;
}

.contact button{
width: 150px;
}

.contact-links{
    position: relative;
}
.media-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}
/* achievement-contact end */

/* footer start */

.footer-menu{
    margin-top: 12px;
    
}
.footer-menu a{
   display: inline;
   margin: 10px;
   
    
}


